<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416564409489-d2acdjs2fq6knn8ajhd809gc4iqv09qp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416564409489-d2acdjs2fq6knn8ajhd809gc4iqv09qp</string>
	<key>API_KEY</key>
	<string>AIzaSyBPukXvuN6Oh1eK1a2JLFlGB0pLphnftjk</string>
	<key>GCM_SENDER_ID</key>
	<string>416564409489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petMedical</string>
	<key>PROJECT_ID</key>
	<string>petmedical-a7851</string>
	<key>STORAGE_BUCKET</key>
	<string>petmedical-a7851.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416564409489:ios:de499d26d233126b7a3b30</string>
</dict>
</plist>